{% if messages %}
    <!-- it can be what ever just like ul->li div, p, span-->
    <div class="alert alert-success col-sm-6 col-sm-offset-3" role="alert">
        {% for message in messages %}
            <span class="{{ message.tags }}">
                <!-- my-class this is in views -->
                {% if "my-class" in message.tags %}
                    {{ message|safe }}
                {% else %}
                    {{ message }}
                {% endif %}
            </span>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <br>
{% endif %}
