{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
<!-- exten other information from base.html -->
<!-- {{ block.super }} -->
    <div class="col-sm-6 col-sm-offset-3">
        <h1>{{ title }}</h1>

        <form action="" method="post" class="navbar-form navbar-left" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group">
                {% for field in form %}
                    <p>
                        <label for="id_{{ field.name }}">{{ field.label }}</label>
                        {% render_field field class="form-control" %}
                    </p>
                    <!-- Below is errors -->
                    {% for error in field.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                {% endfor %}
                <input type="submit" class="btn btn-default" value="Create post">
                <a href="{% url 'posts:list' %}" class="btn btn-warning" style="float:right;">Return to all</a>
            </div>
        </form>
    </div>
{% endblock content %}
