{% extends "base.html" %}

{% block content %}
    <div class="col-sm-12">
        <h1>{{ title }}</h1>
    </div>

    <!-- Search field -->
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <form action="" method="get" class="navbar-form">
                <div class="form-group">
                    <input type="text" name="q" placeholder="Search posts" class="form-control" value="{{ request.GET.q }}">
                    <button type="submit" class="btn btn-info">
                        Let's find
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </form>
        </div>
        <!-- create post -->
        {% if request.user.is_authenticated and request.user.is_staff %}
            <div class="col-sm-2 col-sm-offset-3">
                <a href="{% url 'posts:create' %}" class="btn btn-success">Create new post</a>
            </div>
        {% endif %}
    </div>
    <br>

    <div class="row">
    {% for obj in object_list %}
        <div class="col-sm-6">
            <div class="thumbnail">
                {% if obj.image %}
                    <img src="{{ obj.image.url }}" class="img-responsive">
                {% endif %}
                <div class="caption">
                    <h3>
                        <a href="{{ obj.get_absolute_url }}">{{ obj.title }}</a>
                        <small>{{ obj.timestamp|timesince }} ago</small>
                    </h3>
                    <!-- There is name of user below -->
                    {% if obj.user.get_full_name %}
                        <p>Author: {{ obj.user.get_full_name }}</p>
                    {% endif %}
                    <p>{{ obj.content|linebreaks|truncatechars:120 }}</p>
                    <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
                </div>
            </div>
        </div>

        <!-- cycle "row1" "row2" it's like first and second element -->
        {% cycle "" "<div class='col-sm-12'><hr></div></div><div class='row'>" %}
    {% endfor %}

    </div>

    <div>
        <div class="pagination">
            <ul class="pager">
                <li class="previous">
                    {% if object_list.has_previous %}
                        <a href="?p={{ object_list.previous_page_number }}
                        {% if request.GET.q %}
                            &q={{ request.GET.q }}
                        {% endif %}">&larr; previous</a>
                    {% endif %}
                </li>

                <li class="btn">
                    Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
                </li>

                <li class="next">
                    {% if object_list.has_next %}
                        <a href="?p={{ object_list.next_page_number }}
                        {% if request.GET.q %}
                            &q={{ request.GET.q }}
                        {% endif %}">next &rarr;</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
{% endblock content %}
