{% extends "base.html" %}

{% block head_title %}
    {{ obj.title }} | {{ block.super }}
{% endblock head_title %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        {% if obj.image %}
            <img src="{{ obj.image.url }}" class="img-responsive">
        {% endif %}
        <h1>{{ obj.title }} <small>{{ obj.timestamp }}</small></h1>
        {% if obj.user.get_full_name %}
            <p>Author: {{ obj.user.get_full_name }}</p>
        {% endif %}
        <!-- {{ obj.pk }} <br> -->
        <!-- {{ obj.title }} <br> -->
        <!-- {{ obj.update }} <br> -->

        <!-- {{ request.build_absolute_uri }} -->
        <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
        <!-- <div class="col-sm-12" style="padding: 0">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">Share on Facebook</a> |
            <a href="https://twitter.com/home?status={{ share_text }}%20{{ request.build_absolute_uri }}" target="_blank">Share on Twitter</a> |
            <a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}" target="_blank">Share on Google+</a> |
            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ obj.title }}&summary={{ share_text }}&source={{ request.build_absolute_uri }}" target="_blank">Share on LinkedIn</a> |
            <a href="https://pinterest.com/pin/create/button/?url={{ request.build_absolute_uri }}&media=&description={{ obj.content }}" target="_blank">Pin on Pinterest</a>
        </div> -->
        <hr>

        <p>{{ obj.content|linebreaks }}</p>

        <div class="row">
            <div class="col-sm-12">
                {% if request.user.is_authenticated and request.user.is_staff %}
                    <a href="{% url 'posts:update' obj.id %}" class="btn btn-warning">Edit</a> or
                    <a href="{% url 'posts:del' obj.id %}" class="btn btn-danger">Delete</a> - <small>{{ obj.title|truncatewords:3 }}</small>
                {% endif %}
                <a href="{% url 'posts:list' %}" class="btn btn-info" style="float:right;">Return to all</a>
            </div>
        </div>

        <br>
        <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
    </div>

    <!-- urlify -->
    <!-- {{ obj.content }} -->
    <!-- {{ share_text }} -->

{% endblock content %}
